@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

/* scrollbar small */
::-webkit-scrollbar { width: 8px; height:8px; }
::-webkit-scrollbar-thumb { background: rgba(100,100,100,0.3); border-radius: 8px; }
